.footer-section {
  position: absolute;
  width: 1440px;
  height: 581px;
  left: 0px;
  top: 7215px;
  background: #ffffff;
}
.footer-block {
  position: absolute;
  width: 1110px;
  height: 190px;
  left: 165px;
  top: 100px;
  background: #42413c;
}
.fio {
  position: absolute;
  width: 289px;
  height: 22px;
  left: 575px;
  top: 366px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-align: center;

  color: #000000;
}
