.video-section {
  position: absolute;
  width: 1440px;
  height: 914px;
  left: 0px;
  top: 914px;
  background: #ffffff;
}
.title-video-section {
  position: absolute;
  width: 1110px;
  height: 146px;
  left: 165px;
  top: 100px;
}
.title-video-section-1 {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #2a2626;
}
.title-video-section-2 {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #fe8a02;
}
.video-section-minititle {
  position: absolute;
  width: 1110px;
  height: 26px;
  left: 165px;
  top: 273px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #212529;
}
.video-block {
  position: absolute;
  width: 919px;
  height: 569px;
  left: 261px;
  top: 329px;
  background: url(./../images/);
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 1;
}
.video-section-footer {
  position: relative;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 814px;
  background: #42413c;
}
